<div class="container-fluid-fix page-fix">
  <header class="cont-fix">
    <div class="home-fix">Home</div>
    <form [formGroup]="filterForm" class="form-layout-fix">

      <!-- Status Filter -->
      <div class="form-group-fix">
        <label for="status-select-fix">Statut</label>
        <select formControlName="status" id="status-select-fix" class="form-control-fix" (change)="filterIms()">
          <option value="all">Tous</option>
          <option value="en progrés">en progrés</option>
          <option value="Cloturée">terminé</option>
        </select>
      </div>

      <!-- Period Filter -->
      <div class="form-group-fix">
        <label>Période</label>
        <div>
          <input type="date" formControlName="start" class="form-control-fix">
          <input type="date" formControlName="end" class="form-control-fix">
        </div>
      </div>

      <!-- Search Field -->
      <div class="form-group-fix">
        <input type="text" formControlName="search" class="form-control-fix">
        <button type="submit" class="btn-fix searchbtn-fix"><i class="fa fa-search"></i></button>
      </div>

      <!-- Create IMS Button -->
      <div class="form-group-fix">
        <button type="button" class="btn-fix create-ims-fix btn-success-fix" (click)="openDialog()">Créer une IMS</button>
      </div>

    </form>
  </header>





<table class="table">
    <thead>
    <tr>
      <th scope="col">IMS</th>
      <th scope="col">Date</th>
      <th scope="col">Responsable</th>
      <th scope="col">Traitement etude impact</th>
      <th scope="col">Taux de retard</th>
      <th scope="col">Success check</th>
      <th scope="col">Audit</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of filteredIms">
      <td>{{e.id}}</td>
      <td>{{e.date | date}}</td>
      <td>{{e.responsable}}</td>
      <td>0%</td>
      <td>0%</td>
      <td>
        <select (change)="updateStatus(e.id, $event, 'sucesscheck')">
          <option [selected]="e.sucesscheck === 'en progrés'" value="en progrés">en progrés</option>
          <option [selected]="e.sucesscheck === 'Cloturée'" value="Cloturée">Cloturée</option>
        </select>
      </td>
      <td>
        <select (change)="updateStatus(e.id, $event, 'audit')">
          <option [selected]="e.audit === 'en progrés'" value="en progrés">en progrés</option>
          <option [selected]="e.audit === 'Cloturée'" value="Cloturée">Cloturée</option>
        </select>
      </td>
      <td>
        <button class="btn btn-danger" aria-label="Delete" (click)="confirmAndDelete(e.id)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn viewdetails btn-primary" (click)="goToDetails(e.id)">Détails</button>
      </td>
    </tr>
    </tbody>
  </table>
  <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 50]" aria-label="Select page">
  </mat-paginator>
</div>
